<h1>Interpolação</h1>

<p>
  É possível usar variáveis ​​Sass em seletores e nomes de propriedade com o recurso de 
  interpolação. A interpolação é um recurso que está presente em várias linguagens de 
  programação e permite que valores sejam encaixados dentro de outros valores. 
</p>
<p>
  Veja alguns exemplos a seguir.
</p>
<p>
  Utilizando interpolação em nomes de seletores:
</p>
<img src="../../assets/interpolacao1.png">
<p>
  Será compilado para:
</p>
<img src="../../assets/resultado-interpolacao1.png">

<p>Utilizando interpolação em nomes de propriedades:</p>
<img src="../../assets/interpolacao2.png">
<p>
  Será compilado para:
</p>
<img src="../../assets/resultado-interpolacao2.png">
<p>
  A interpolação pode ser muito bem utilizada dentro de funções e mixins. 
  Serão exibidas outras formas de utilizar interpolação agregadas com recursos 
  que serão vistos nos próximos tópicos.
</p>
