<h1>Mixins</h1>
<p>
  A diretiva @mixin permite definir estilos que podem ser reutilizados em toda a folha de estilo. 
  Os mixins funcionam como uma função que retorna CSS em vez de um único valor. Muitas vezes temos 
  declarações repetidas várias vezes no arquivo CSS, para corrigir isso, pode-se criar um mixin.
</p>
<div class="subitem">

  <h2>Como declarar</h2>
  <p>
    A declaração do mixin começa com @mixin, em seguida vem o nome do mixin, que pode conter 
    qualquer combinação de caracteres alfabéticos e numéricos sem espaços e os argumentos entre 
    parênteses. O mixin border-radius utilizado como exemplo, só possui um argumento $radius, 
    mas pode-se utilizar vários argumentos desde que eles estejam separados por vírgulas. Por fim, 
    entre chaves vem a definição do mixin que conter qualquer combinação de atributos CSS.
  </p>
  <img src="../../assets/mixin1.png">
  <p>
    Com este mixin criado, não será mais necessário repetir as 4 linhas de código utilizadas para 
    que o border-radius funcione em todos os navegadores.
  </p>

  <h2>Como utilizar</h2>
  <p>
    Para utilizar o mixin, basta utilizar a palavra @include, o nome do mixin e os argumentos na 
    ordem utilizada na declaração.
  </p>
  <p>Sass</p>
  <img src="../../assets/mixin2.png">
  <p>Será compilado para:</p>
  <img src="../../assets/resultado-mixin2.png">

  <h2>Default Arguments</h2>
  <p>
    Na criação do mixin é possível especificar valores padrão para os argumentos, caso 
    o argumento seja passado um argumento diferente o argumento será utilizado, caso contrário 
    o valor padrão será utilizado.
  </p>
  <p>Exemplo:</p>
  <img src="../../assets/mixin3.png">
  <p>Será compilado para:</p>
  <img src="../../assets/resultado-mixin3.png">

  <h2>Keyword Arguments</h2>
  <p>
    Keyword Arguments existem a partir Sass 3.1, com os Keyword Arguments, os argumentos ficam 
    explícitos na chamada do mixin e é possível utilizar os argumentos em qualquer ordem.
  </p>
  <p>Exemplos:</p>
  <img src="../../assets/mixin4.png">
  <p>Será compilado para:</p>
  <img src="../../assets/resultado-mixin4.png">
  <p>
    Embora fique redundante, esta forma pode facilitar a leitura dos mixins, o que é importante 
    para ter um código de fácil manutenção.
  </p>

  <h2>Variable arguments</h2>
  <p>
    Às vezes é necessário criar um mixin mais flexível, por exemplo, o padding por exemplos pode 
    ter de um a quatro argumentos. Neste caso pode-se criar um mixin de argumentos variáveis, 
    desta forma os argumentos são empacotados como uma lista.
  </p>
  <p>Exemplo:</p>
  <img src="../../assets/mixin5.png">
  <p>Será compilado para:</p>
  <img src="../../assets/resultado-mixin5.png">  
</div>