<h1>Herança @extends</h1>
<p>
  Com a diretiva @extend é possível herdar estilos de outras classes, sua utilização evita a duplicação 
  de estilos no arquivo final.
</p>
<p>
  Alguns exemplos de utilização:
</p>
<p>
  Temos dois tipos de erro que possuem características iguais, porém possuem algumas exceções de cor de 
  acordo com a gravidade do erro. Criamos a classe .msg que receberá as características semelhantes e 
  estendemos a classe .msg nas classes de erro específicas.
</p>
<img src="../../assets/heranca1.png">
<p>
  Será compilado para:
</p>
<img src="../../assets/resultado-heranca1.png">
<p>
  Também é possível herdar estilos de pseudo-elementos:
</p>
<img src="../../assets/heranca2.png">
<p>
  Será compilado para:
</p>
<img src="../../assets/resultado-heranca2.png">