.nav {

	width: 100%;
    background: #000;
    margin-bottom: 20px;
	
	ul {
		list-style: none
	}
	
	li {
		color: #fff;
		display: inline-block;
	}
	
}

.nav1 {
	font: {
		family: "Times New Roman", Times, serif;
		style: italic;
		size: 30px;
		weight: bold;
	}
}